workflow-abastecimento.json
{
  "name": "Abastecimento Bot",
  "nodes": [
    {
      "parameters": {
        "sessionName": "abastecimento",
        "authType": "pairingCode",
        "phoneNumber": "",
        "authFolder": "/home/node/.n8n/sessions"
      },
      "id": "bailey-trigger-1",
      "name": "WhatsApp Trigger",
      "type": "@jazario/n8n-nodes-bailey/BaileyTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.messageText}}",
              "operation": "startsWith",
              "value2": "/"
            }
          ]
        }
      },
      "id": "is-command",
      "name": "É Comando?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=flow:{{ $json.chatId.replace('@s.whatsapp.net', '') }}"
      },
      "id": "redis-get-state",
      "name": "Buscar Estado Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.value }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "has-state",
      "name": "Tem Estado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageText }}",
              "operation": "equals",
              "value2": "/abast"
            }
          ]
        }
      },
      "id": "is-abast",
      "name": "É /abast?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=flow:{{ $json.chatId.replace('@s.whatsapp.net', '') }}",
        "value": "={{ JSON.stringify({ state: 'aguardando_placa', data: {}, updatedAt: new Date().toISOString() }) }}",
        "ttl": 900
      },
      "id": "redis-set-initial",
      "name": "Salvar Estado Inicial",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [850, 100],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "🚗 *SISTEMA DE ABASTECIMENTO*\n\n1️⃣ Informe a *PLACA* do veículo (ex: ABC1D23):"
            }
          ]
        },
        "sessionId": "abastecimento"
      },
      "id": "send-start-msg",
      "name": "Enviar Mensagem Inicial",
      "type": "@jazario/n8n-nodes-bailey/BaileyAction",
      "typeVersion": 1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageText }}",
              "operation": "equals",
              "value2": "/ajuda"
            }
          ]
        }
      },
      "id": "is-ajuda",
      "name": "É /ajuda?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "📖 *COMANDOS*\n\n*/abast* - Novo abastecimento\n*/status* - Status do sistema\n*/ultimos* - Seus últimos\n*/ajuda* - Esta mensagem"
            }
          ]
        },
        "sessionId": "abastecimento"
      },
      "id": "send-ajuda",
      "name": "Enviar Ajuda",
      "type": "@jazario/n8n-nodes-bailey/BaileyAction",
      "typeVersion": 1,
      "position": [1050, 600]
    },
    {
      "parameters": {
        "query": "SELECT COUNT(*) as total, COUNT(DISTINCT usuario_id) as usuarios, COALESCE(SUM(litros), 0) as litros FROM abastecimentos;",
        "options": {}
      },
      "id": "postgres-status",
      "name": "Buscar Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 800],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "=📊 *STATUS*\n\n📦 Total: {{ $json.total }}\n👥 Usuários: {{ $json.usuarios }}\n⛽ Litros: {{ $json.litros }}L"
            }
          ]
        },
        "sessionId": "abastecimento"
      },
      "id": "send-status",
      "name": "Enviar Status",
      "type": "@jazario/n8n-nodes-bailey/BaileyAction",
      "typeVersion": 1,
      "position": [1250, 800]
    },
    {
      "parameters": {
        "query": "SELECT placa, km, litros, criado_em FROM abastecimentos WHERE usuario_id = $1 ORDER BY criado_em DESC LIMIT 5;",
        "options": {
          "queryParams": "={{ $('WhatsApp Trigger').item.json.chatId.replace('@s.whatsapp.net', '') }}"
        }
      },
      "id": "postgres-ultimos",
      "name": "Buscar Últimos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 1000],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { text: '📭 Nenhum abastecimento ainda.' } }];\n}\n\nlet msg = '📋 *ÚLTIMOS ABASTECIMENTOS*\\n\\n';\nitems.forEach((item, i) => {\n  const d = new Date(item.json.criado_em).toLocaleDateString('pt-BR');\n  msg += `${i+1}. 🚗 ${item.json.placa} | ${item.json.km}km | ${item.json.litros}L\\n   📅 ${d}\\n`;\n});\n\nreturn [{ json: { text: msg } }];"
      },
      "id": "format-ultimos",
      "name": "Formatar Últimos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 1000]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "sessionId": "abastecimento"
      },
      "id": "send-ultimos",
      "name": "Enviar Últimos",
      "type": "@jazario/n8n-nodes-bailey/BaileyAction",
      "typeVersion": 1,
      "position": [1450, 1000]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "⚠️ Comando inválido. Digite */ajuda*"
            }
          ]
        },
        "sessionId": "abastecimento"
      },
      "id": "send-invalid",
      "name": "Comando Inválido",
      "type": "@jazario/n8n-nodes-bailey/BaileyAction",
      "typeVersion": 1,
      "position": [1050, 1200]
    },
    {
      "parameters": {
        "functionCode": "const state = JSON.parse($('Buscar Estado Redis').item.json.value);\nconst msg = $('WhatsApp Trigger').item.json.messageText || '';\nconst userId = $('WhatsApp Trigger').item.json.chatId.replace('@s.whatsapp.net', '');\nconst senderName = $('WhatsApp Trigger').item.json.pushName || 'Usuário';\nconst hasMedia = !!$('WhatsApp Trigger').item.json.media;\n\nlet response = '';\nlet newState = null;\nconst data = state.data || {};\n\nfunction isValidPlaca(p) {\n  return /^[A-Z]{3}[0-9][A-Z][0-9]{2}$/.test(p) || /^[A-Z]{3}[0-9]{4}$/.test(p);\n}\n\nswitch (state.state) {\n  case 'aguardando_placa':\n    const placa = msg.toUpperCase().trim();\n    if (!isValidPlaca(placa)) {\n      response = '❌ Placa inválida! Use: ABC1D23 ou ABC1234';\n    } else {\n      newState = { state: 'aguardando_km', data: { placa } };\n      response = `✅ Placa *${placa}*!\\n\\n2️⃣ Informe a *KM ATUAL*:`;\n    }\n    break;\n    \n  case 'aguardando_km':\n    const km = parseInt(msg.trim());\n    if (isNaN(km) || km <= 0) {\n      response = '❌ KM inválida! Digite apenas números';\n    } else {\n      newState = { state: 'aguardando_litros', data: { ...data, km } };\n      response = `✅ KM *${km}*!\\n\\n3️⃣ Informe os *LITROS* (ex: 45.5):`;\n    }\n    break;\n    \n  case 'aguardando_litros':\n    const litros = parseFloat(msg.trim().replace(',', '.'));\n    if (isNaN(litros) || litros <= 0) {\n      response = '❌ Litros inválidos! Digite um número';\n    } else {\n      newState = { state: 'aguardando_foto_odometro', data: { ...data, litros } };\n      response = `✅ *${litros}L*!\\n\\n4️⃣ Envie a *FOTO DO ODÔMETRO*:`;\n    }\n    break;\n    \n  case 'aguardando_foto_odometro':\n    if (!hasMedia) {\n      response = '⚠️ Envie a FOTO DO ODÔMETRO (📎)';\n    } else {\n      newState = { state: 'aguardando_foto_abastecimento', data: { ...data, foto_odometro: `odo_${Date.now()}.jpg` } };\n      response = '✅ Foto recebida!\\n\\n5️⃣ Envie a *FOTO DO ABASTECIMENTO*:';\n    }\n    break;\n    \n  case 'aguardando_foto_abastecimento':\n    if (!hasMedia) {\n      response = '⚠️ Envie a FOTO DO ABASTECIMENTO (📎)';\n    } else {\n      response = `✅ *ABASTECIMENTO REGISTRADO!*\\n\\n🚗 Placa: ${data.placa}\\n📏 KM: ${data.km}\\n⛽ Litros: ${data.litros}L\\n📅 ${new Date().toLocaleDateString('pt-BR')}`;\n      newState = { state: 'salvar', data: { ...data, foto_abastecimento: `abs_${Date.now()}.jpg` } };\n    }\n    break;\n}\n\nreturn [{ \n  json: { \n    userId, \n    senderName,\n    response, \n    newState: newState ? JSON.stringify(newState) : null,\n    shouldDelete: state.state === 'aguardando_foto_abastecimento' && hasMedia\n  } \n}];"
      },
      "id": "process-flow",
      "name": "Processar Fluxo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=flow:{{ $json.userId }}",
        "value": "={{ $json.newState }}",
        "ttl": 900
      },
      "id": "redis-update-state",
      "name": "Atualizar Estado",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=flow:{{ $json.userId }}"
      },
      "id": "redis-delete-state",
      "name": "Limpar Estado",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1250, 500],
      "credentials": {
        "redis": {
          "id": "redis-cred",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "query": "INSERT INTO abastecimentos (usuario_id, usuario_nome, placa, km, litros, foto_odometro, foto_abastecimento) VALUES ($1, $2, $3, $4, $5, $6, $7);",
        "options": {
          "queryParams": "={{ $('Processar Fluxo').item.json.userId }}, {{ $('Processar Fluxo').item.json.senderName }}, {{ JSON.parse($('Processar Fluxo').item.json.newState).data.placa }}, {{ JSON.parse($('Processar Fluxo').item.json.newState).data.km }}, {{ JSON.parse($('Processar Fluxo').item.json.newState).data.litros }}, {{ JSON.parse($('Processar Fluxo').item.json.newState).data.foto_odometro }}, {{ JSON.parse($('Processar Fluxo').item.json.newState).data.foto_abastecimento }}"
        }
      },
      "id": "postgres-save",
      "name": "Salvar Abastecimento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1450, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "sessionId": "abastecimento"
      },
      "id": "send-response",
      "name": "Enviar Resposta",
      "type": "@jazario/n8n-nodes-bailey/BaileyAction",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [[{ "node": "É Comando?", "type": "main", "index": 0 }]]
    },
    "É Comando?": {
      "true": [[{ "node": "É /abast?", "type": "main", "index": 0 }]],
      "false": [[{ "node": "Buscar Estado Redis", "type": "main", "index": 0 }]]
    },
    "É /abast?": {
      "true": [[{ "node": "Salvar Estado Inicial", "type": "main", "index": 0 }]],
      "false": [[{ "node": "É /ajuda?", "type": "main", "index": 0 }]]
    },
    "Salvar Estado Inicial": {
      "main": [[{ "node": "Enviar Mensagem Inicial", "type": "main", "index": 0 }]]
    },
    "É /ajuda?": {
      "true": [[{ "node": "Enviar Ajuda", "type": "main", "index": 0 }]],
      "false": [[{ "node": "Buscar Status", "type": "main", "index": 0 }]]
    },
    "Buscar Status": {
      "main": [[{ "node": "Enviar Status", "type": "main", "index": 0 }]]
    },
    "Buscar Estado Redis": {
      "main": [[{ "node": "Tem Estado?", "type": "main", "index": 0 }]]
    },
    "Tem Estado?": {
      "true": [[{ "node": "Processar Fluxo", "type": "main", "index": 0 }]],
      "false": [[{ "node": "Comando Inválido", "type": "main", "index": 0 }]]
    },
    "Processar Fluxo": {
      "main": [[{ "node": "Atualizar Estado", "type": "main", "index": 0 }]]
    },
    "Atualizar Estado": {
      "main": [[{ "node": "Enviar Resposta", "type": "main", "index": 0 }]]
    },
    "Limpar Estado": {
      "main": [[{ "node": "Salvar Abastecimento", "type": "main", "index": 0 }]]
    },
    "Salvar Abastecimento": {
      "main": [[{ "node": "Enviar Resposta", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "tags": ["whatsapp", "abastecimento"]
}
